.top-bar {
    a {
        color: rgb(255, 255, 255);
    }
    background-color: rgb(0, 157, 255);
}

.card-divider {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 157, 255);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex-basis: 15rem;
}

.card {
    height: 15rem;
    border-style: solid;
    border-color: rgb(197, 197, 197);
}

.card:hover {
    box-shadow: 0px 2px 8px 2px rgb(159, 159, 159);
    transition: box-shadow 0.2s ease-in-out;
}