.response-index-container {
    display: flex;
    flex-flow: row wrap;
}
.response-tile {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(197, 197, 197);
    margin-left: 1rem;
    margin-top: 10px;
    margin-right: 1rem;
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 3px;
    .response-tile-user {
        h5 {
            font-size: 18px;
            color: rgb(255, 255, 255)
        }
        margin: 3px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: min-content;
        border-radius: 20px;
        background-color: rgb(0, 157, 255);
    }
    .response-section {
        font-size: 12px;
        margin: 3px;
        padding-left: 8px;
        padding-right: 8px;
        max-width: min-content;
        border-radius: 20px;
        color: rgb(255, 255, 255);
    }
    p {
        font-size: 16px;
        padding-left: 18px;
    }
}

.Beginning {
    background-color: rgb(15, 189, 47);
}

.Middle {
    background-color: rgb(140, 19, 221);
}

.End {
    background-color: rgb(16, 46, 182);
}

.response-errors {
    margin-left: 20px;
    margin-top: 10px;
    border-style: solid;
    border-color: rgb(183, 0, 0);
    border-radius: 3px;
    background-color: rgb(212, 120, 135);
    color: rgb(183, 0, 0);
    max-width: max-content;
    padding: 5px;
}